@charset "utf-8";
@import "../base";

.bigheader{
    width:100%;
    height: 152px;
    background-color: #00756e;
}
.lctab td {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 8px 0;
}